**Task 3:** предварительная обработка

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**1. Скачайте и прочитайте CSV-файл, сделайте ID столбцом индекса.**

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Школа 21/DS_project10-0/Task 3: предварительная обработка/auto.csv', index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

**2. Подсчитайте количество наблюдений с помощью метода count().**

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

**3. Удалите дубликаты только в следующих столбцах: CarNumber, Make_n_model, Fines.**
*   Если имеются два и более одинаковых наблюдения, оставьте наблюдение, которое идет по порядку последним.
*   Снова проверьте количество наблюдений.

In [5]:
df.drop_duplicates(subset=['CarNumber','Make_n_model', 'Fines'], keep='last', inplace=True)
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
5    92918M178RUS      Ford Focus     1.0   5700.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

In [6]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

**4. Работа с пропущенными значениями**

Проверьте, сколько значений отсутствует в каждом столбце.

In [7]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

Удалите все столбцы с более чем 500 пропущенными значениями, используя аргумент thresh.

In [8]:
df.dropna(axis=1, thresh=500, inplace=True)
df

        CarNumber    Make_n_model  Refund    Fines
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0
1     E432XX77RUS    Toyota Camry     1.0   6500.0
2     7184TT36RUS      Ford Focus     1.0   2100.0
3    X582HE161RUS      Ford Focus     2.0   2000.0
5    92918M178RUS      Ford Focus     1.0   5700.0
..            ...             ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0
927  M0309X197RUS      Ford Focus     1.0  22300.0
928  O673E8197RUS      Ford Focus     2.0    600.0
929  8610T8154RUS      Ford Focus     1.0   2000.0
930  H419XE197RUS  Toyota Corolla     2.0      NaN

[725 rows x 4 columns]

Замените все пропущенные значения в столбце Refund предыдущим для данной ячейки значением в этом столбце, используйте аргумент method, проверьте, сколько значений теперь отсутствует в каждом столбце.

In [9]:
df.Refund = df.Refund.fillna(method='ffill', axis=0)
df.Refund.count()

725

Замените все пропущенные значения в столбце Fines средним значением этого столбца (исключите значения NA/null при вычислении среднего значения), проверьте теперь количество пропущенных значений в каждом столбце.

In [10]:
mean_fine = df.Fines.mean()
df.fillna(value={'Fines': mean_fine}, axis=0, inplace=True)
df

        CarNumber    Make_n_model  Refund         Fines
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.000000
1     E432XX77RUS    Toyota Camry     1.0   6500.000000
2     7184TT36RUS      Ford Focus     1.0   2100.000000
3    X582HE161RUS      Ford Focus     2.0   2000.000000
5    92918M178RUS      Ford Focus     1.0   5700.000000
..            ...             ...     ...           ...
926  Y163O8161RUS      Ford Focus     2.0   1600.000000
927  M0309X197RUS      Ford Focus     1.0  22300.000000
928  O673E8197RUS      Ford Focus     2.0    600.000000
929  8610T8154RUS      Ford Focus     1.0   2000.000000
930  H419XE197RUS  Toyota Corolla     2.0   8594.586466

[725 rows x 4 columns]

In [11]:
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

**5. Разбейте название марки и модели автомобиля на отдельные столбцы**

In [12]:
df['count'] = df.apply(lambda x: len(x['Make_n_model'].split()), axis=1)
df.query('count !=2')

        CarNumber Make_n_model  Refund         Fines  count
ID
39   M5039X197RUS   Volkswagen     2.0   7400.000000      1
122  M589CH197RUS   Volkswagen     2.0   7900.000000      1
195  H837YK197RUS         Audi     2.0   4200.000000      1
236  E316EH197RUS   Volkswagen     1.0   1300.000000      1
486  X023HY197RUS        Volvo     2.0  10200.000000      1
554  X023HY197RUS        Volvo     2.0   6800.000000      1
582  Y687HM197RUS          BMW     1.0   8594.586466      1
724  Y693HM197RUS          BMW     2.0   6500.000000      1
778  96907X197RUS          BMW     2.0   3000.000000      1

In [13]:
df.drop(columns='count', inplace=True)

In [15]:
def split_column(x):
  x = x['Make_n_model'].split()
  if len(x) >=2:
    return x[0:2]
  else:
    return[x[0], pd.NA]

Используйте метод apply как для разбиения, так и для извлечения значений в новые колонки Make и Model.

In [16]:
df[['Make', 'Model']] = df.apply(split_column, axis=1, result_type='expand')
df

        CarNumber    Make_n_model  Refund         Fines    Make    Model
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.000000    Ford    Focus
1     E432XX77RUS    Toyota Camry     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS      Ford Focus     1.0   2100.000000    Ford    Focus
3    X582HE161RUS      Ford Focus     2.0   2000.000000    Ford    Focus
5    92918M178RUS      Ford Focus     1.0   5700.000000    Ford    Focus
..            ...             ...     ...           ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.000000    Ford    Focus
927  M0309X197RUS      Ford Focus     1.0  22300.000000    Ford    Focus
928  O673E8197RUS      Ford Focus     2.0    600.000000    Ford    Focus
929  8610T8154RUS      Ford Focus     1.0   2000.000000    Ford    Focus
930  H419XE197RUS  Toyota Corolla     2.0   8594.586466  Toyota  Corolla

[725 rows x 6 columns]

Удалите столбец Make_n_model.

In [17]:
df.drop(columns='Make_n_model', inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

Сохраните датафрейм в JSON-файл auto.json в следующем формате: [{"CarNumber":"Y163O8161RUS","Refund":2.0,"Fines":3200.0,"Make":"Ford","Model":"Focus"},{"CarNumber":"E432XX77RUS","Refund":1.0,"Fines":6500.0,"Make":"Toyota","Model":"Camry"}]

In [18]:
df.to_json('/content/drive/MyDrive/Школа 21/DS_project10-0/Task 3: предварительная обработка/auto.json', orient='records')